body{
	padding: 0;
	margin: 0;
	background: #000;
}
.move{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 505px;
	height: 505px;
	transform: translate(-50%, -50%);
}
.move div{
	position: absolute;
	background: rgba(255, 255, 255, .1);
	box-shadow: 0 0 25px rgba(0, 0, 0, .5);
	border: 1px solid rgba(255, 255, 255, .2);
	animation: allm 10s alternate infinite;
}
div:nth-of-type(1){
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	animation-delay: 0.3s;
}
div:nth-of-type(2){
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	animation-delay: 0.6s;
}
div:nth-of-type(3){
	top: 40px;
	left: 40px;
	right: 40px;
	bottom: 40px;
	animation-delay: 0.9s;
}
div:nth-of-type(4){
	top: 60px;
	left: 60px;
	right: 60px;
	bottom: 60px;
	animation-delay: 1.2s;
}
div:nth-of-type(5){
	top: 80px;
	left: 80px;
	right: 80px;
	bottom: 80px;
	animation-delay: 1.5s;
}
div:nth-of-type(6){
	top: 100px;
	left: 100px;
	right: 100px;
	bottom: 100px;
	animation-delay: 1.8s;
}
div:nth-of-type(7){
	top: 120px;
	left: 120px;
	right: 120px;
	bottom: 120px;
	animation-delay: 2.1s;
}
div:nth-of-type(8){
	top: 140px;
	left: 140px;
	right: 140px;
	bottom: 140px;
	animation-delay: 2.4s;
}
div:nth-of-type(9){
	top: 160px;
	left: 160px;
	right: 160px;
	bottom: 160px;
	animation-delay: 2.7s;
}
div:nth-of-type(10){
	top: 180px;
	left: 180px;
	right: 180px;
	bottom: 180px;
	animation-delay: 3s;
}
div:nth-of-type(11){
	top: 200px;
	left: 200px;
	right: 200px;
	bottom: 200px;
	animation-delay: 3.3s;
}
div:nth-of-type(12){
	top: 220px;
	left: 220px;
	right: 220px;
	bottom: 220px;
	animation-delay: 3.6s;
}
/*@keyframes allm{*/
/*	0%{*/
/*		transform: rotate(0deg);*/
/*		background: green;*/
/*		filter: hue-rotate(360deg);*/
/*	}*/
/*	100%{*/
/*		transform: rotate(360deg);*/
/*		background: red;*/
/*		filter: hue-rotate(0deg);*/
/*	}*/
/*}*/