section.slide#formEvents
	div
		h2 События формы

		p submit, keydown, keypress, keyup, change, input, focus, blur

		pre
			code formElement.addEventListener('submit', function(){
			code 	alert('Your form has been submited!');
			code });