section.slide#formAttributes
	div
		h2 Атрибуты формы
		div
			strong method&nbsp;
			| - сообщает серверу о методе запроса. Может быть "GET" и "POST"
		div
			strong action&nbsp;
			| - url для обработки данных формы. Может быть абсолютным или относительным
		div
			strong enctype&nbsp;
			| - способ кодирования данных формы. По умолчанию значени атрибута "application/x-www-form-urlencoded". Для отправки файлов, значение должно быть "multipart/form-data"